* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
}

.bookchat {
    display: flex;
}

.bookchat .console {
    background: black;
    border: 5px solid rgb(131, 131, 131);
    height: 600px;
    width: 250px;
}

.bookchat .console .heading {
    width: 240px;
    border-bottom: 5px solid rgb(131, 131, 131);
}

.bookchat .console .heading h1 {
    text-align: center;
    padding: 10px;
    color: white;
}

.bookchat .console .feature {
    text-align: center;
    margin-top: 10px;
}

.bookchat .console .feature button {
    width: 230px;
    height: 37px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background: rgb(214, 214, 214);
    border-radius: 10px;
}

.bookchat .console .feature button:hover {
    background: rgb(233, 233, 233);
}

.bookchat .console .setting {
    text-align: center;
    margin-top: 340px;
}

.bookchat .console .setting button {
    width: 230px;
    height: 35px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background: rgb(214, 214, 214);
}

.bookchat .task {
    border-top: 5px solid rgb(131, 131, 131);
    border-right: 5px solid rgb(131, 131, 131);
    border-bottom: 5px solid rgb(131, 131, 131);
    background: black;
    width: 100%;
}

.bookchat .task .title {
    text-align: center;
    padding: 11px;
    color: white;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 5px solid rgb(131, 131, 131);
}

.bookchat .task .note {
    display: flex;
    width: 1000px;
    padding: 10px;
    margin-top: 10px;
}

.bookchat .task .note .file-note {
    display: flex;
    background: rgb(209, 209, 209);
    border: 2px solid rgb(138, 138, 138);
    width: 250px;
    height: 40px;
    margin-left: 10px;
}

.bookchat .task .note .file-note .name {
    width: 200px;
    padding: 9px;
    font-size: 15px;
    font-weight: bold;
}

.bookchat .task .note .file-note button {
    background: rgb(255, 136, 0);
    width: 46px;
    border: none;
    border-left: 3px solid black;
    font-weight: bold;
}